<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataBAseTesting11">
  <test thread-count="5" name="Basic11">
    <classes>
      <class name="CrudMethodTsting.BasicsCrudMethods">
		  <methods>
			  <exclude name="DleteDate"></exclude>
		  </methods>
		  
		  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
